asgiref==3.6.0
decouple==0.0.7
dj-database-url==1.2.0
Django==4.0
django-environ==0.9.0
gunicorn==20.1.0
joblib==1.2.0
numpy==1.24.1
pandas==1.5.3
Pillow==9.4.0
psycopg2-binary==2.9.5
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2022.7.1
scikit-learn==1.2.0
scipy==1.10.0
six==1.16.0
sklearn==0.0.post1
sqlparse==0.4.4
threadpoolctl==3.1.0
tzdata==2022.7
